html {
            scroll-behavior: smooth;
        }

        body {
            background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
            color: #fff;
            scroll-behavior: smooth;
        }

        .glass {
            background: rgba(133, 85, 244, 0.08);
            backdrop-filter: blur(8px);
            border-radius: 15px;
            border: 1px solid rgba(255,255,255,0.15);
        }

        .team-card {
            transition: all 0.3s ease;
        }

        .team-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 12px 25px rgba(0,0,0,0.4);
        }

        .profile-img {
            border: 4px solid #0dcaf0;
            padding: 3px;
        }

        .progress {
            height: 18px;
        }

        .navbar {
            background: linear-gradient(135deg, #141e30, #243b55);
            z-index: 1000;
        }

        .navbar-nav .nav-link {
            transition: all 0.3s ease;
        }

        .navbar-nav .nav-link:hover {
            color: #00e5ff !important;
            transform: translateY(-2px);
        }

        .badge-tech {
            font-size: 0.85rem;
            margin: 2px;
        }
        /* Colores de texto */
        .text-lead {
            color: #00e5ff;
        }

        .text-collab {
            color: #c77dff;
        }

        .text-soft {
            color: #cfd8dc;
        }

        .role-lead {
            background: linear-gradient(135deg,#00c6ff,#0072ff);
            color: #fff;
        }

        .role-collab {
            background: linear-gradient(135deg,#7b2ff7,#f107a3);
            color: #fff;
        }

        .btn-lead {
            border-color: #00e5ff;
            color: #00e5ff;
        }

        .btn-lead:hover {
            background: #00e5ff;
            color: #000;
        }

        .btn-collab {
            border-color: #c77dff;
            color: #c77dff;
        }

        .btn-collab:hover {
            background: #c77dff;
            color: #000;
        }
        .small {
            color: white;
        } 
        .title-white {
            color: white;
        }